h1{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif
}

body{
    background:lightblue
}

h2{
    color: darkblue;
    text-decoration: underline;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px
}

p{
    color:darkgreen;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px
}

h3{
    color: brown;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px
}