body{
    background-color:beige
}

h1{
    color:oklab(41.825% 0.0725 0.02766);
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

li{
    font-family:Georgia, 'Times New Roman', Times, serif
}